$text: #B2B6BD;
$background: #0d1117;
$selection-text-and-header-background: #161b22;
$selection-background-and-link-hover: #faa356;
$heading: #faa356;
$border: #21262d;

$contessa: #cea5fb;
$comet: #21262d;
$river-bed: #21262d;

$silver: #ccc;
